    <mat-card>
        <div *ngIf="!loading else load"> </div>
  
        <ng-template #load> 
             
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
             
        </ng-template>
  
      <div class="fluxTitle ng-binding"> 
          <mat-icon matSuffix>compare_arrows</mat-icon> 
          <span style="font-size: 22px;"> HealthCareInsurance </span>
          <span> - Données sur l'assurabilité de la personne auprès des mutuelles. </span>  
      </div>
  
       <mat-slide-toggle warn (change)="onChange($event)">
            <span [ngClass]="{'act': hint, 'inact': !hint} ">
                 <span *ngIf="hint" >Cacher des erreurs </span> 
                 <span *ngIf="!hint" >Afficher des erreurs </span> 
            </span>
            
        </mat-slide-toggle>
        
        <form [formGroup]="form">
            <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="30px" fxLayoutGap.lt-md="50px"> 
                <mat-form-field fxFlex>
                    <button mat-button *ngIf="cleanUpField" matSuffix mat-icon-button aria-label="Clear" (click)="cleanUpField=''">
                        <mat-icon matTooltip="Effacer" >close</mat-icon>
                    </button>

                    <input matInput placeholder="Registre national"  matTooltip="Registre national"
                            #m1 maxlength="11"
                            formControlName="rn" [(ngModel)]="cleanUpField" required>
                    <mat-icon matSuffix>vpn_key</mat-icon>
                         
                    <mat-hint align="end" style="width: 70px;"> {{m1.value.length}} / 11 </mat-hint>
        
                    <mat-hint *ngIf="hint" class="hint-error">
                        La valeur doit être en format numérique. 
                    </mat-hint> 
        
                    <mat-hint *ngIf="!hint">
                        Veuillez écrire le numéro d'enregistrement, composé de 11 caractères. 
                    </mat-hint>
        
                </mat-form-field>
            </div>

            <div style="width:100%; display: block; margin-top:70px; clear: both;"> </div>

            <fieldset style="margin:10px; ; padding-bottom:20px;" >
                <legend class="fluxTitleGray"> Critère de temps </legend> 
                <div  fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="30px" fxLayoutGap.lt-md="50px"> 

                    <mat-form-field>
                        
                        <input matInput placeholder="Date" formControlName="datepickerRef" [matDatepicker]="datepickerRef" required/>

                        <mat-datepicker-toggle [for]="datepickerRef" matSuffix> </mat-datepicker-toggle>
                        <mat-datepicker #datepickerRef></mat-datepicker>

                        <mat-hint *ngIf="hint" style="color:red;">
                            La valeur doit être en format date . 
                        </mat-hint> 

                        <mat-hint *ngIf="!hint"> Date critère de temps </mat-hint>

                    </mat-form-field>

                </div>
            </fieldset>  

            <fieldset style="margin:10px; ; padding-bottom:20px;" >
                <legend class="fluxTitleGray"> Données désirées </legend> 

                <mat-checkbox (click)="actionCheckBox(-1)">
                    <span *ngIf="chk" style="color: #ff4081;"> Désélectionner </span>
                    <span *ngIf="!chk" style="color:green"> Sélectionner </span> 
                </mat-checkbox> 

                <mat-checkbox
                    *ngFor="let c of desiredData; let index = index" checked = {{c.check}} (click)="actionCheckBox(index)"> 
                    {{c.viewValue}} 
                </mat-checkbox>        
            </fieldset> 

            <div style="width:100%; display: block; margin-top:70px; clear: both;"> </div>

            <button mat-raised-button color="primary" (click)="btnSend()"  
                class="submit-button" id="btn_send"
                [disabled]="form.invalid" > 
                <mat-icon matSuffix>input</mat-icon> Tester 
            </button>
  
            <button mat-raised-button color="ink-ripple" (click)="btnClear()"> 
              <mat-icon matSuffix >subject</mat-icon> Effacer 
            </button>

        </form>
    </mat-card> 
