<app-nav-top class="fixed-navtop" fxHide.gt-xs></app-nav-top>

<mat-sidenav-container style="background:#eee; margin: 0 auto;"> 
  <mat-sidenav #appDrawer mode="over" opened="false">
    <mat-nav-list>
      <app-nav-list *ngFor="let navig of navList" [navig]="navig"></app-nav-list>
    </mat-nav-list>

    <div class="logo-bcss"> 
      <img src="https://www.ksz-bcss.fgov.be/sites/default/files/language-fr.png" style="opacity: 0.7; width: 100px;"/>
    </div>

  </mat-sidenav>
  <app-nav-top fxHide.xs></app-nav-top>
  
  <div [@routeAnimations]="prepareRoute(outlet)">
    <div class="container" [class.bcss-dark-theme]="isDarkThemeActive">
      <router-outlet #outlet="outlet"> </router-outlet>
      
      <div class="address">CPAS de Charleroi - 13, Bld Joseph II, 6000 Charleroi - 071/23.30.23 </div>
    </div>
  </div>

  <div fxFlex> </div>

    <div class="version-info">

      <span>
        All rights reserved. copyright © 2019 CPAS OF CHARLEROI
        Current build: {{version.full ? version.full : version}}
      </span> 

  </div> 

</mat-sidenav-container>
 