
    <mat-card>
        <div *ngIf="!loading else load"> </div>

        <ng-template #load> 
             
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
             
        </ng-template>

    <div class="fluxTitle ng-binding"> 
        <mat-icon matSuffix>compare_arrows</mat-icon>
         <span style="font-size: 22px;"> AlertReaction </span>
         <span> - D'envoyer une motivation clignotant à la BCSS. </span> 
    </div>

       <mat-slide-toggle warn (change)="onChange($event)"> 
            <span *ngIf="hint" class="act">Cacher des erreurs </span>
            <span *ngIf="!hint" class="inact">Afficher des erreurs </span> 
        </mat-slide-toggle>
        
        <form [formGroup]="form">
            
            <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="30px" fxLayoutGap.lt-md="50px"> 

                <mat-form-field fxFlex>
                    <input matInput placeholder="ID de l’alerte émise par le SPP-IS" formControlName="alertid" matTooltip="La BCSS transmet au CPAS la réponse du SPP-IS"
                            #m1 maxlength="20">
                    <mat-icon matSuffix>mode_edit</mat-icon>
                    
                    <mat-hint align="end" style="width: 70px;"> {{m1.value.length}} / 20 </mat-hint>

                    <mat-hint *ngIf="hint" class="hint-error">
                        La valeur doit être en format numérique. 
                    </mat-hint> 

                    <mat-hint *ngIf="!hint">
                        Cet élément doit être unique sur l’ensemble des motivations. 
                        En cas de doublons, un message d’erreur (MSG00008) sera retourné au client. 
                    </mat-hint>

                </mat-form-field>

                <mat-form-field fxFlex>
                    <input matInput placeholder="Numéro de référence" formControlName="reference" matTooltip="Numéro de référence"
                            #m2 maxlength="20" pattern="\d+$">
                    <mat-icon matSuffix>mode_edit</mat-icon>
                    <mat-hint align="end" style="width: 70px;"> {{m2.value.length}} / 20 </mat-hint>
                        
                    <mat-hint *ngIf="hint" class="hint-error">
                        La valeur doit être en format numérique. 
                    </mat-hint> 

                    <mat-hint *ngIf="!hint">
                        Le numéro du formulaire concerné par l'alerte. Ce numéro correspond au numéro de référence IS du SPP
                        (tel qu’indiqué lors de la soumission du formulaire).
                    </mat-hint>
                         
                </mat-form-field>

            </div>
            <div style="width:100%; display: block; margin-top:70px; clear: both;"> </div>

            <div  fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="30px" fxLayoutGap.lt-md="50px"> 
                <mat-form-field fxFlex>
                    <input matInput placeholder="Codes de motivation" formControlName="motivation" matTooltip="Codes de motivation" 
                            #m3 maxlength="20">
                    <mat-icon matSuffix>mode_edit</mat-icon>
                    <mat-hint align="end"> {{m3.value.length}} / 20 </mat-hint>
                            
                    <mat-hint *ngIf="hint" class="hint-error">
                        La valeur doit être en format numérique. 
                    </mat-hint> 
    
                    <mat-hint *ngIf="!hint">
                        Code de la motivation actuelle donnée par le CPAS / OCMW 
                    </mat-hint>
                             
                </mat-form-field>

                <mat-form-field fxFlex>
                    <input matInput placeholder="Commentaire" formControlName="comment" matTooltip="Commentaire" 
                            #m4 maxlength="1000">
                    <mat-icon matSuffix>mode_edit</mat-icon>
                    <mat-hint align="end"> {{m4.value.length}} / 1000 </mat-hint>
                                
                    <mat-hint *ngIf="hint" class="hint-error">
                        La valeur doit être en format text ( Modèle: "[a-zA-Z0-9\_\,\+\;\-\.\=\!\?]" ) . 
                    </mat-hint> 
        
                    <mat-hint *ngIf="!hint">
                        Commentaire textuel pouvant être ajouté à la motivation 
                    </mat-hint>
                                 
                </mat-form-field>

            </div>
                  

            <!-- <div style="display: flex;
            justify-content: left;
            align-items: left;
            flex-direction: column; float:left;margin:2px;">

            <mat-form-field class="console-full-width" >
                <input matInput placeholder="Alert ID" [formControl]="emailFormControl"
                      #message maxlength="256" 
                       [errorStateMatcher]="matcher">
                       <mat-icon matSuffix>mode_edit</mat-icon>
  
                <mat-hint>Write Alert ID</mat-hint>
                <mat-hint align="end">{{message.value.length}} / 11</mat-hint>
  
                
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Cet élément doit être unique sur l’ensemble des motivations. En cas de doublons, un message d’erreur (MSG00008) sera retourné au client. 
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    Alert ID <strong>required</strong>
                </mat-error>
              </mat-form-field>
              </div>

              <div style="width:100%; height: 20px; clear: both;"> </div>

              <div style="display: flex;
              justify-content: left;
              align-items: left;
              flex-direction: column; float:left; margin:2px;">
              <mat-form-field class="console-full-width" >
                  <input matInput placeholder="Alert ID" [formControl]="emailFormControl"
                        #message maxlength="256" 
                         [errorStateMatcher]="matcher">
                         <mat-icon matSuffix>mode_edit</mat-icon>
    
                  <mat-hint>Write Alert ID</mat-hint>
                  <mat-hint align="end">{{message.value.length}} / 11</mat-hint>
    
                  
                  <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                      Cet élément doit être unique sur l’ensemble des motivations. En cas de doublons, un message d’erreur (MSG00008) sera retourné au client. 
                  </mat-error>
                  <mat-error *ngIf="emailFormControl.hasError('required')">
                      Alert ID <strong>required</strong>
                  </mat-error>
                </mat-form-field>
                </div>


                <div style="display: flex;
                justify-content: left;
                align-items: left;
                flex-direction: column; float:left; margin:2px;">

                <mat-form-field class="console-full-width" >
                    <input matInput placeholder="Alert ID" [formControl]="emailFormControl"
                          #message maxlength="256" 
                           [errorStateMatcher]="matcher">
                           <mat-icon matSuffix>mode_edit</mat-icon>
      
                    <mat-hint>Write Alert ID</mat-hint>
                    <mat-hint align="end">{{message.value.length}} / 11</mat-hint>
      
                    
                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                        Cet élément doit être unique sur l’ensemble des motivations. En cas de doublons, un message d’erreur (MSG00008) sera retourné au client. 
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                        Alert ID <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                  </div> -->

            <div style="width:100%; display: block; margin-top:70px; clear: both;"> </div>

            <button mat-raised-button color="primary" (click)="btnSend()"  
                class="submit-button" id="btn_send"
                [disabled]="form.invalid" > 
                <mat-icon matSuffix>input</mat-icon> Tester 
            </button>

            <button mat-raised-button color="ink-ripple" (click)="btnClear()"> 
                <mat-icon matSuffix >subject</mat-icon> Effacer 
            </button>
        </form>
        
    </mat-card>
     

