<div class="container">
    <mat-card>

    <div *ngIf="!loading else load"> </div>

    <ng-template #load>      
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </ng-template>

    <div class="fluxTitle ng-binding"> <mat-icon matSuffix>compare_arrows</mat-icon> UnemploymentData V3 CPAS DE CHARLEROI  </div>

    <mat-tab-group  (selectedIndexChange)="tabChanged($event)">
         
        <mat-tab label="ActivationPaidSums">
            <mat-slide-toggle warn (change)="onChange($event)"> 
                <span *ngIf="hint" class="act">Cacher des erreurs </span>
                <span *ngIf="!hint" class="inact">Afficher des erreurs </span> 
            </mat-slide-toggle>
        <!-- begin -->
        <form [formGroup]="form"> 
            <div  fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="30px" fxLayoutGap.lt-md="50px"> 

                <mat-form-field fxFlex >
                         
                    <input matInput placeholder="Registre national" formControlName="rn"
                            #m1 maxlength="11">
                    <mat-icon matSuffix>vpn_key</mat-icon>
                    
                    <mat-hint align="end" style="width: 70px;"> {{m1.value.length}} / 11 </mat-hint>

                    <mat-hint *ngIf="hint" style="color:red;">
                        La valeur doit être en format numérique. 
                    </mat-hint> 

                    <mat-hint *ngIf="!hint">
                            Veuillez écrire le numéro d'enregistrement, composé de 11 caractères.
                    </mat-hint>

                </mat-form-field>
            </div>
            <div style="width:100%; display: block; margin-top:40px; clear: both;"> </div>

            <div  fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="30px" fxLayoutGap.lt-md="50px"> 
                 
                <mat-form-field>
                    <input matInput [matDatepicker]="periodof" placeholder="Période du">
                    <mat-datepicker-toggle matSuffix [for]="periodof"></mat-datepicker-toggle>
                    <mat-datepicker #periodof></mat-datepicker>

                    <mat-hint *ngIf="hint" style="color:red;">
                        La valeur doit être en format date YYYY-MM. 
                    </mat-hint> 
    
                    <mat-hint *ngIf="!hint"> Période du  </mat-hint>

                </mat-form-field>

                <mat-form-field>
                    <input matInput [matDatepicker]="periodat" placeholder="Période au">
                    <mat-datepicker-toggle matSuffix [for]="periodat"></mat-datepicker-toggle>
                    <mat-datepicker #periodat></mat-datepicker>
                    <mat-hint *ngIf="hint" style="color:red;">
                        La valeur doit être en format date YYYY-MM. 
                    </mat-hint> 
        
                    <mat-hint *ngIf="!hint"> Période au  </mat-hint>
                </mat-form-field> 

            </div>
            <div style="width:100%; display: block; margin-top:40px; clear: both;"> </div>  
            <h2 class="fluxTitleGray" > Permet de restreindre la recherche aux travailleurs de plus de 50 ans </h2>  
            <fieldset style="margin:10px; padding:10px;" >
                <legend class="fluxTitleGray"> Toutes les indemnités: </legend>    
                <div class="fluxTitleGray"> <mat-checkbox class="example-margin" > </mat-checkbox> </div>
                <div class="fluxTitleGray"> 0 = Allocation d’activation, quel que soit l’âge </div>
                <div class="fluxTitleGray"> 1 = Allocation d’activation travailleurs ≥ 50  </div>
            </fieldset> 

             

            <button mat-raised-button color="primary" (click)="btnSend()" 
                class="submit-button"
                [disabled]="form.invalid"> 
                <mat-icon matSuffix>input</mat-icon> Tester 
            </button>

            <button mat-raised-button color="ink-ripple" (click)="btnClear()"> 
                <mat-icon matSuffix >subject</mat-icon> Effacer 
            </button>

        </form>
        <!-- end -->
        </mat-tab>
         


        <mat-tab label="ExemptionHistory"> 
            <mat-slide-toggle> 
                <span  class="act">Cacher des erreurs </span>
                <span  class="inact">Afficher des erreurs </span> 
            </mat-slide-toggle>

        </mat-tab>
        <mat-tab label="NoEarningCapacityAndLawsuitMutuality">
            <mat-slide-toggle> 
                <span  class="act">Cacher des erreurs </span>
                <span  class="inact">Afficher des erreurs </span> 
            </mat-slide-toggle>

        </mat-tab>
        <mat-tab label="PaidSums">
            <mat-slide-toggle> 
                <span  class="act">Cacher des erreurs </span>
                <span  class="inact">Afficher des erreurs </span> 
            </mat-slide-toggle>

        </mat-tab>
        <mat-tab label="Payments"> 
            <mat-slide-toggle> 
                <span  class="act">Cacher des erreurs </span>
                <span  class="inact">Afficher des erreurs </span> 
            </mat-slide-toggle>            

        </mat-tab>
        <mat-tab label="Rights"> 
            <mat-slide-toggle> 
                <span  class="act">Cacher des erreurs </span>
                <span  class="inact">Afficher des erreurs </span> 
            </mat-slide-toggle>

        </mat-tab>
        <mat-tab label="SanctionHistory"> 
            <mat-slide-toggle> 
                <span  class="act">Cacher des erreurs </span>
                <span  class="inact">Afficher des erreurs </span> 
            </mat-slide-toggle>

        </mat-tab>
        <mat-tab label="ScaleCodeHistory"> 
            <mat-slide-toggle> 
                <span  class="act">Cacher des erreurs </span>
                <span  class="inact">Afficher des erreurs </span> 
            </mat-slide-toggle>  

        </mat-tab>
        <mat-tab label="ScheduledPayment"> 
            <mat-slide-toggle> 
                <span  class="act">Cacher des erreurs </span>
                <span  class="inact">Afficher des erreurs </span> 
            </mat-slide-toggle>  

        </mat-tab>
        <mat-tab label="WorkDisabilityHistory"> 
            <mat-slide-toggle> 
                <span  class="act">Cacher des erreurs </span>
                <span  class="inact">Afficher des erreurs </span> 
            </mat-slide-toggle>  

        </mat-tab>
        <mat-tab label="YoungAvailabilityDecisionHistory"> 
            <mat-slide-toggle> 
                <span  class="act">Cacher des erreurs </span>
                <span  class="inact">Afficher des erreurs </span> 
            </mat-slide-toggle>  

        </mat-tab>
    </mat-tab-group>

</mat-card> 
<div style="margin:10px auto auto auto;font-size:11px;color:gray;">CPAS de Charleroi - 13, Bld Joseph II, 6000 Charleroi - 071/23.30.23 </div>

</div>
