
<h1>{{title}}</h1>
<input [value]="greeting">
<br><br>

<input [attr.value]="greeting">
<br><br>

<input [value]="greeting" [attr.value]="greeting"
(input)="onInputEvent($event)">
<br><br>
Message1: {{message1}}<br>
Message2: {{message2}}<br>
Message3: {{message3}}<br>
<br><br>

<button (click)="flag =!flag"> FLAG </button>
<p> {{flag}} </p>

<i>SPAN : </i> <span *ngIf="flag">  Flag is true... </span>
<br><br>
<i>HIDDEN : </i> <span [hidden]="!flag">  Flag is true... ( HIDDEN )</span>
<br><br>
<i>TEMPLATE : </i><ng-template [ngIf] ="flag"> <b style="color:red;"> this is template... flag is always true... </b></ng-template>

<input [(ngModel)] ="lastSymbol"> {{lastSymbol}}
<br><br>

<input [(ngModel)] ="tempf" type="text" value="0"> 
<button (click)="toggleFormat()"> {{targgetFormat}} </button>
 
<br><br>
{{ tempf | temperature: format | number: '1.1-2' }}
<router-outlet></router-outlet>