<mat-toolbar color="primary">
  <button mat-icon-button id="menu" (click)="navService.openNav()" matTooltip="Menu BCSS" >
    <mat-icon>menu</mat-icon>
  </button>
   
  <span> Console BCSS </span>

  <speed-dial-fab
    (fabClick)="onSpeedDialFabClicked($event)" 
    [buttons]="speedDialFabButtonsEnv">
  </speed-dial-fab> 
 
  <div style="position: absolute; float: right; top: -10px; right: -10px;">
    <mat-toolbar style="background: unset; " matTooltip="Changer le theme" >
      <mat-slide-toggle (change)="onThemeChange($event)"> </mat-slide-toggle>
    </mat-toolbar>
  </div>

  <div style="position: absolute; float: right; font-size: 12px; color:#4D5CAC; top: 35px; right: 10px;">
    Banque Carrefour de la Sécurité Sociale 
  </div>

</mat-toolbar>
 