@import '~@angular/material/theming';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker hue.
$app-primary: mat-palette($mat-indigo);
$app-accent: mat-palette($mat-green);

// The warn palette is optional (defaults to red).
$app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$bcss-app-primary: mat-palette($mat-indigo, 900);
$bcss-app-accent:  mat-palette($mat-pink, A200, A100, A400);
$bcss-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$bcss-app-theme: mat-light-theme($bcss-app-primary, $bcss-app-accent, $bcss-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($bcss-app-theme);

$bcss-app-dark-primary: mat-palette($mat-indigo, 200);
$bcss-app-dark-accent:  mat-palette($mat-grey, A200, A100, A400);
$bcss-app-dark-warn:    mat-palette($mat-red);
$bcss-app-dark-theme:   mat-dark-theme($bcss-app-dark-primary, $bcss-app-dark-accent, $bcss-app-dark-warn);
.bcss-dark-theme {
  @include angular-material-theme($bcss-app-dark-theme);
  .fluxTitle {
    color: greenyellow;
  }
  mat-checkbox .mat-checkbox-layout .mat-checkbox-label  {
    color: rgb(128, 128, 128);
  }



}