.mat-dialog-actions {
    display: flex;
    order: 2;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 0;
    padding-right: 8px;
    padding-left: 16px;
    min-height: 52px;
    overflow: hidden; position: absolute; bottom: 0px;
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    border: 1px solid rgb(207, 207, 207);
    background:#f5f5f5;
}

.mat-dialog-content { 
    margin: unset!important; 
    max-height: 71vh;
}

.mat-dialog-container {
    font-size:unset!important;
}

.toolbar {
    height:50px;
    background:#3f51b5;
    border-radius:4px;
}

.toolbar h4 { 
    color:white;
    padding: 15px;
    font-weight: normal !important;
}

.cdk-overlay-pane {

    width: unset!important;
    height: unset!important;

}
.dialog-title {
    color: #3f51b5;
    background: linear-gradient(180deg, white 0%, white 95%, #ff6987 95%, #ff4081 100%) !important;
    padding: 5px;

     
   
}