
<mat-card>
  <app-title-and-description ref-show></app-title-and-description>
  <div class="div-both"> </div>
  <div class="mat-hint ng-star-inserted">
    ( This web service is not authorized to use! )
  </div> 
</mat-card>
    