  <mat-card>
    <mat-accordion>
      <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title matTooltip="Afficher ou réduire des détails">
              <app-title-and-description
                  [dispalyTitle]="dispalyTitle">
              </app-title-and-description>
              </mat-panel-title>
  
          </mat-expansion-panel-header>
          <app-slide-toggle-error (eventSlideToggle)="hint=!hint"> </app-slide-toggle-error>
          <!-- BEGINNING TEMPLATE -->
          <div *ngIf="(navigFull | json) !== '[]'; else navigFullEmpty"> 
              <pre style="margin-top:-20px;" [innerHtml]= "navigFull | prettyjson:3" > </pre>
          </div>
          <ng-template #navigFullEmpty>
              <p class="hint-error">Context legal ou Environement est vide! </p>
          </ng-template> 
          <!-- END TEMPLATE -->
  
      </mat-expansion-panel>
  </mat-accordion>

  <div class="div-both"> </div>
      
      <form [formGroup]="form">
        
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="30px" fxLayoutGap.lt-md="50px"> 
        <mat-form-field fxFlex>
            <input matInput placeholder="Registre national"  matTooltip="Registre national"
                    #m1 maxlength="11">
            <mat-icon matSuffix>vpn_key</mat-icon>
            
            <mat-hint align="end" style="width: 70px;"> {{m1.value.length}} / 11 </mat-hint>

            <mat-hint *ngIf="hint" class="hint-error">
                La valeur doit être en format numérique. 
            </mat-hint> 

            <mat-hint *ngIf="!hint">
                Veuillez écrire le numéro d'enregistrement, composé de 11 caractères. 
            </mat-hint>

        </mat-form-field>
        </div>

        <div style="width:100%; display: block; margin-top:70px; clear: both;"> </div>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="30px" fxLayoutGap.lt-md="50px"> 

        <mat-form-field fxFlex>
            <mat-label>Nature personne </mat-label>
            <mat-select  matTooltip="Nature personne">
              <mat-option *ngFor="let nature of natures" [value]="nature.value">
                {{nature.viewValue}}
              </mat-option>
            </mat-select>

            <mat-hint *ngIf="hint" class="hint-error">
                La valeur doit être selectionneé. 
            </mat-hint> 

            <mat-hint *ngIf="!hint">
                Nature personne est une entité dotée de la personnalité juridique
            </mat-hint>

          </mat-form-field>

          <mat-form-field fxFlex>
            <mat-label>Langue </mat-label>
            <mat-select matTooltip="Langue">
              <mat-option *ngFor="let lang of langs" [value]="lang.value">
                {{lang.viewValue}}
              </mat-option>
            </mat-select>

            <mat-hint *ngIf="hint" class="hint-error">
                La valeur doit être selectionneé. 
            </mat-hint> 

            <mat-hint *ngIf="!hint">
                En quelle langue doit-être rédigé le contenu  
            </mat-hint>

          </mat-form-field>

        </div> 
          <div style="width:100%; display: block; margin-top:70px; clear: both;"> </div>

            <button mat-raised-button color="primary" (click)="btnSend()"  
                class="submit-button" id="btn_send"
                [disabled]="form.invalid" > 
                <mat-icon matSuffix>input</mat-icon> Tester 
            </button>

            <button mat-raised-button color="ink-ripple" (click)="btnClear()"> 
                <mat-icon matSuffix >subject</mat-icon> Effacer 
            </button>

      </form>
  </mat-card>
    