 
<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
<div mat-dialog-content>

  <div class="toolbar" > 
    <h4> <mat-icon matSuffix>compare_arrows</mat-icon> Response from BCSS </h4> 
  </div>

  <div style="margin:10; padding: 10px;"> 
    <pre [innerHtml]="message | prettyjson:3"></pre>
  </div>

</div>

<div mat-dialog-actions  class="mat-dialog-actions" style="width: 100%; " >

  <button mat-raised-button color="primary" (click)="btnClose()"  >
    <mat-icon matSuffix>close</mat-icon> Close 
  </button>
  <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Accept</button> -->
  
</div>
</div>  