<mat-card>
    <div class="fluxTitle ng-binding">
        <mat-icon matSuffix>help</mat-icon>
        <span style="font-size: 22px;"> Que fait la BCSS et comment ? </span>
        <span> </span>
      </div>
      <mat-card-content>
      <div class="mat-hint ng-star-inserted"><h2>Que fait la BCSS ?</h2>
        <p>
            Dans votre vie privée ou professionnelle, les situations qui justifient 
            l'octroi de prestations de sécurité sociale ne manquent pas : 
            maladie, chômage, charge d'enfants, mise à la retraite, handicap, 
            accident, par exemple.
        </p>
        <p>Il est indispensable qu'en tant que bénéficiaire potentiel de cette protection, vous soyez bien connu des institutions qui paient les prestations.</p>
        <p>La Banque Carrefour se donne pour missions :</p>
        <ul><li>d'inciter les acteurs du secteur social belge
        <ul><li>à offrir des services effectifs et efficaces avec un minimum de charges administratives et de coûts pour toutes les parties concernées</li>
        <li>d'une manière qui convienne de façon optimale aux divers utilisateurs finaux des services</li>
        <li>grâce à l'amélioration permanente de leurs relations et processus (mutuels) à l'aide des nouvelles technologies (e-government)</li>
        <li>en partant d'une vision commune, élaborée de commun accord</li>
        </ul></li>
        <li>de promouvoir la sécurité de l'information et la protection de la vie privée par les acteurs du secteur social belge afin que tous les intéressés puissent avoir confiance à juste titre</li>
        <li>de mettre à la disposition des dirigeants politiques et des chercheurs des informations intégrées et intersectorielles qui serviront d'appui à la politique</li>
        </ul><h2>Comment?</h2>
        <p>La Banque Carrefour et les institutions publiques de sécurité sociale (IPSS) ont durant 10 ans préparé, développé et mis en œuvre tous les outils qui leur permettent maintenant de passer à une vitesse supérieure dans l'offre de services intégrés.</p>
        
    </div>
    </mat-card-content>

</mat-card>
