/* global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body { 
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
}

@import './app/theme';

// Include the base styles for Angular Material core.
// have to load a single css file for Angular Material in app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Include theme styles for core and each component used in app.
// Alternatively, you can import and @include the theme mixins for each component that are using.
@include angular-material-theme($app-theme);

.container {
    flex-direction: column; display: flex; color: rgba(0,0,0,0.87);
    border-radius: 4px;
    min-height: 20px;
    padding: 19px;
    margin: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    /* max-width: 1117px;*/
    /*min-width: 70%;*/
    /* margin: 20px auto;*/
     
     
}

a {
    text-decoration-color: mat-color($app-primary);
    color: mat-color($app-primary);
}

.mat-raised-button {
    margin:5px!important;
}

.fluxTitle {
    margin: 1px 5px;
    color: #3f51b5;
    padding: .2em .6em .3em;
    border-radius: 2px;
    font-size: 14px;
    line-height: 1;
}

.fluxTitleGray {
    margin: 1px 5px;
    color: gray;
    padding: .2em .6em .3em;
    border-radius: 2px;
    font-size: 14px;
    line-height: 1;
}

.mat-toolbar.mat-primary {
    color: white;   
    border-bottom: 0px solid #ff4081;
}

.mat-form-field, mat-slide-toggle {
    display:unset!important;
}

mat-toolbar {
    height:65px!important;
    box-shadow: unset!important;
}

mat-slide-toggle {
    padding: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}

mat-slide-toggle span.act, mat-slide-toggle span.inact {
    font-size:12px;
}

mat-slide-toggle span.act {
    color: red
}

mat-slide-toggle span.inact {
    color:gray;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: rgba(255,64,129,0.5);
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: rgb(255,64,129);
}

.cdk-overlay-pane {
    
}

.mat-drawer-content {
    overflow-x: hidden!important;   
}

.mat-dialog-container {  
    overflow-x: hidden!important; 
    padding-bottom: 20px!important;
    padding-left: 0px!important;
    padding-right: 0px!important;
    padding-top:0px!important;
    box-sizing: border-box!important;
    display: flex!important;
    flex-direction: column!important;
    position: relative!important;
    z-index: 2!important;
    min-height: 64px!important;
    width: 100%!important;
    border: 1px solid gray;
}

.mat-dialog-container:active{
    opacity: 0.7;
}

.version-info, .mat-toolbar.mat-primary, .toolbar {
    background: rgb(79,94,175)!important;
    background: linear-gradient(180deg, rgba(79,94,175,1) 0%, rgba(23,33,105,1) 95%, rgba(255,105,135,1) 95%, rgba(255,64,129,1) 100%)!important;
}

/*#3f51b5*/
.version-info {
    font-size: 8pt;
    padding: 8px;
    align-self: center;
    width: 100%;
    color: #efeded;
    bottom: 0;
}

.version-info span {
    float: right;
    position: relative;
    margin-right: 10px;
}

pre span {white-space: normal;}
   .string { color:navy; }
   .number { color:red; font-weight: bold;}
   .boolean { color:red; }
   .null { color: olive; }
   .key { color: green; font-weight: bold; }

fieldset { 
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 3px 10px rgba(0,0,0,.05);
}

.mat-slide-toggle-label{
    margin-left:10px;
}

.address {
    margin:10px auto auto auto;
    font-size:11px;
    color:gray;
}

.hint-error {
    color:red!important;  
}

.logo-bcss {
    padding: 5px 97px 5px 96px;
    position: absolute; 
    bottom: 0px; 
    z-index: 1; 
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px
    rgba(0, 0, 0, 0.12); 
    border: 1px solid rgb(207, 207, 207); 
    background:white;
    opacity: 0.9;
}

.mat-checkbox-layout .mat-checkbox-label {
     
    font-size: 12px;
    color:green;
    width: 175px;
}

.mat-checkbox {
    margin-bottom: 0px!important;
}
