
    <mat-card>
        <div *ngIf="!loading else load"> </div>
  
        <ng-template #load> 
             
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
             
        </ng-template>
  
      <div class="fluxTitle ng-binding"> 
          <mat-icon matSuffix>compare_arrows</mat-icon> 
          <span style="font-size: 22px;"> FamilyAllowancesService </span>
          <span> - Consultation sur les allocations familiales. ( This web service is not authorized to use! ). </span>  
      </div>
  
       <mat-slide-toggle warn (change)="onChange($event)"> 
            <span *ngIf="hint" class="act">Cacher des erreurs </span>
            <span *ngIf="!hint" class="inact">Afficher des erreurs </span> 
        </mat-slide-toggle>
        
        <form [formGroup]="form">
            <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="30px" fxLayoutGap.lt-md="50px"> 
                <mat-form-field fxFlex>
                    <input matInput placeholder="Registre national"  matTooltip="Registre national"
                            #m1 maxlength="11"
                            formControlName="rn" name="rn">
                    <mat-icon matSuffix>vpn_key</mat-icon>
                    
                    <mat-hint align="end" style="width: 70px;"> {{m1.value.length}} / 11 </mat-hint>
        
                    <mat-hint *ngIf="hint" class="hint-error">
                        La valeur doit être en format numérique. 
                    </mat-hint> 
        
                    <mat-hint *ngIf="!hint">
                        Veuillez écrire le numéro d'enregistrement, composé de 11 caractères. 
                    </mat-hint>
        
                </mat-form-field>
            </div>

            <div style="width:100%; display: block; margin-top:70px; clear: both;"> </div>

            <div  fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="30px" fxLayoutGap.lt-md="50px"> 
                 
                <mat-form-field>
                    <input matInput [matDatepicker]="periodof" placeholder="Période du">
                    <mat-datepicker-toggle matSuffix [for]="periodof"></mat-datepicker-toggle>
                    <mat-datepicker #periodof></mat-datepicker>
  
                    <mat-hint *ngIf="hint" style="color:red;">
                        La valeur doit être en format date YYYY-MM. 
                    </mat-hint> 
    
                    <mat-hint *ngIf="!hint"> Période du  </mat-hint>
  
                </mat-form-field>
  
                <mat-form-field>
                    <input matInput [matDatepicker]="periodat" placeholder="Période au">
                    <mat-datepicker-toggle matSuffix [for]="periodat"></mat-datepicker-toggle>
                    <mat-datepicker #periodat></mat-datepicker>
                    <mat-hint *ngIf="hint" style="color:red;">
                        La valeur doit être en format date YYYY-MM. 
                    </mat-hint> 
        
                    <mat-hint *ngIf="!hint"> Période au  </mat-hint>
                </mat-form-field> 
  
            </div>
  
  
  
    
            <div style="width:100%; display: block; margin-top:70px; clear: both;"> </div>

            <button mat-raised-button color="primary" (click)="btnSend()"  
                class="submit-button" id="btn_send"
                [disabled]="form.invalid" > 
                <mat-icon matSuffix>input</mat-icon> Tester 
            </button>
  
            <button mat-raised-button color="ink-ripple" (click)="btnClear()"> 
              <mat-icon matSuffix >subject</mat-icon> Effacer 
            </button>


        </form>
    </mat-card>
     