
<fieldset>
  <legend> OBSERVABLE </legend>

  <input type="text" [formControl] = "searchInput">
</fieldset>
  


<input (keyup)="onKey($event)">
<input #mykey (keyup)=onKeyUp(mykey.value)>

<div class="container">

  <!--
  <app-cars-form
    (addCar) = "onAdd($event)"
  ></app-cars-form>
  -->

  <app-cars-form> </app-cars-form>

  <div class="list">  
    <!--
      <app-car 
        [inputcar] = "c"
        (deleteCar) = "onDelete($event)" 
        *ngFor="let c of cars"> </app-car> 
    -->

    <app-car
      (deleteCar) = "onDelete($event)"
      [inputcar] = "c"
      *ngFor = "let c of (carState | async).cars"> 
    </app-car> 
    
  </div>

</div>



<router-outlet></router-outlet> 