

<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
  <div mat-dialog-content>
    <div class="dialog-title">
      <mat-icon matSuffix style="position: relative; top: 5px; left: -5px;">{{iconDialog}}</mat-icon> Dialogue
    </div>
    
    <div style="margin-left:-30px; padding:10px;">
      <pre style="margin-bottom:50px; margin-top:0px"  [innerHtml]="message | prettyjson:3"></pre>
    </div>
  </div>

  <div mat-dialog-actions  class="mat-dialog-actions" style="width: 100%; ">
    <button mat-raised-button color="primary" (click)="btnClose()">
      <mat-icon matSuffix>{{iconButtonClose}}</mat-icon> Close 
    </button>
  </div>
</div>