<p>cars-form works!</p>

<div class="form">
    <label> Car Name : </label>
    <input 
        [(ngModel)]="carName"
        type="text" id="car-name" placeholder="Car Name" />
</div>

<br/>

<div class="form">
    <label> Car Model: </label>
    <input 
        [(ngModel)]="carModel"
        type="text" id="car-model" placeholder="Car Model" />
</div>

<br/>

<button (click)="onAdd()"> Add Car </button>
<button (click)="onLoad()"> Load Car </button>
