    <mat-card>
        <div *ngIf="!loading else load"> </div>
  
        <ng-template #load> 
             
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
             
        </ng-template>
  
      <div class="fluxTitle ng-binding"> 
          <mat-icon matSuffix>compare_arrows</mat-icon> 
          <span style="font-size: 22px;"> IdentifyPerson </span>
          <span> - Identification simplifiée de la personne. </span>  
      </div>
  
       <mat-slide-toggle warn (change)="onChange($event)"> 
            <span *ngIf="hint" class="act">Cacher des erreurs </span>
            <span *ngIf="!hint" class="inact">Afficher des erreurs </span> 
        </mat-slide-toggle>
        
        <form [formGroup]="form">
            <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="30px" fxLayoutGap.lt-md="50px">
                <mat-form-field fxFlex>
                    <button mat-button *ngIf="cleanUpField" matSuffix mat-icon-button aria-label="Clear" (click)="cleanUpField=''">
                        <mat-icon matTooltip="Effacer">close</mat-icon>
                    </button>

                    <input matInput placeholder="Registre national"  matTooltip="Registre national"
                            #m1 maxlength="11"
                            formControlName="rn" [(ngModel)]="cleanUpField">
                    <mat-icon matSuffix>vpn_key</mat-icon>
                         
                    <mat-hint align="end" style="width: 70px;"> {{m1.value.length}} / 11 </mat-hint>
        
                    <mat-hint *ngIf="hint" class="hint-error">
                        La valeur doit être en format numérique. 
                    </mat-hint> 
        
                    <mat-hint *ngIf="!hint">
                        Veuillez écrire le numéro d'enregistrement, composé de 11 caractères. 
                    </mat-hint>
        
                </mat-form-field>
            </div>

            <div style="width:100%; display: block; margin-top:70px; clear: both;"> </div>

            <button mat-raised-button color="primary" (click)="btnSend()"  
                class="submit-button" id="btn_send"
                [disabled]="form.invalid" > 
                <mat-icon matSuffix>input</mat-icon> Tester 
            </button>
  
            <button mat-raised-button color="ink-ripple" (click)="btnClear()"> 
              <mat-icon matSuffix >subject</mat-icon> Effacer 
            </button>


        </form>
    </mat-card>       
