

<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
<div mat-dialog-content>

  <div class="dialog-title"> 
    <mat-icon matSuffix>compare_arrows</mat-icon> Response from BCSS
  </div>

  <div style="margin-left:-30px; padding:10px;"> 
    <pre style="margin-bottom:50px; margin-top:0px" [innerHtml]="message | prettyjson:3"></pre>
  </div>

</div>

<div mat-dialog-actions  class="mat-dialog-actions" style="width: 100%; " >

  <button mat-raised-button color="primary" (click)="btnClose()"  >
    <mat-icon matSuffix>close</mat-icon> Close 
  </button>
  <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Accept</button> -->
  
</div>
</div>  