<div style="text-align:center">
  <h1>
      {{title}}
  </h1>
</div>
<div>
  <button (click)="onAddHello()">AddHello</button>
  <button (click)="onAddWorld()">AddWorld</button>
  <button (click)="onRemoveHelloWorld()">RemoveHelloWorld</button>
</div>
<router-outlet></router-outlet>     