

<div 
    [ngClass]="{'line': inputcar.isSold}"
    style=" border: 1px  solid #eee;">
 
    <p style="margin:5px; padding:5px; background:#eee;">{{inputcar.name}}</p>

    <i>DATE {{inputcar.date}} </i>
    <br>
    <i>MODEL {{inputcar.model}}</i>
    <br>

    <button (click)="onDelete()"> Delete </button>
    <button (click)="onBuy()" [disabled]="inputcar.isSold">  Buy </button>

</div>
<br>

 
