<form [formGroup]="form"> 
  <app-input-rn [form]="form" [(hint)]="hint" (childMsgRN)="onNotifyRN($event)"></app-input-rn>
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="30px" fxLayoutGap.lt-md="50px"> 
    <mat-form-field fxFlex>
      <input matInput 
        placeholder="N. d'entreprise"
        formControlName="N. d'entreprise" 
        matTooltip="Numéro d'entreprise. Chaque entité reçoit lors de son inscription à la BCE un numéro d'entreprise"
        #m1 maxlength="10">
      <mat-icon matSuffix>{{iconEdit}}</mat-icon>         
      <mat-hint align="end" style="width: 70px;"> {{m1.value.length}} / 10 </mat-hint>
  
      <mat-hint *ngIf="hint" class="hint-error">
        Numéro d'entreprise se compose de dix chiffres : un 0 ou un 1, suivi de neuf chiffres 
      </mat-hint> 
  
      <mat-hint *ngIf="!hint">
        Numéro d'entreprise. Chaque entité reçoit lors de son inscription à la BCE un numéro d'entreprise
      </mat-hint>
    </mat-form-field>
  </div>

  <div class="div-both"> </div>

  <div  fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="30px" fxLayoutGap.lt-md="50px">  
    <mat-form-field>
      <input matInput 
        #dateBegin
        [matDatepicker]="periodof"
        formControlName="dateBegin"
        placeholder="Période du">
      <mat-datepicker-toggle matSuffix [for]="periodof"></mat-datepicker-toggle>
      <mat-datepicker #periodof></mat-datepicker>
      <mat-error *ngIf="dateBegin.value">{{getDateError(dateBegin.value)}}</mat-error>

      <mat-hint *ngIf="hint" style="color:red;">
        La valeur doit être en format date YYYY-MM-DD. 
      </mat-hint> 

      <mat-hint *ngIf="!hint"> Période du </mat-hint>
    </mat-form-field>

    <mat-form-field>
      <input matInput
        #dateEnd 
        [matDatepicker]="periodat"
        formControlName="dateEnd"
        placeholder="Période au">
      <mat-datepicker-toggle matSuffix [for]="periodat"></mat-datepicker-toggle>
      <mat-datepicker #periodat></mat-datepicker>
      <mat-error *ngIf="dateEnd.value">{{getDateError(dateEnd.value)}}</mat-error>

      <mat-hint *ngIf="hint" style="color:red;">
        La valeur doit être en format date YYYY-MM-DD. 
      </mat-hint> 
    
      <mat-hint *ngIf="!hint"> Période au </mat-hint>
    </mat-form-field> 
  </div>

  <div class="div-both"> </div>

  <app-buttons-test-clear 
    [form]="form" 
    [formApi]="getValueFromInputApi()"> 
  </app-buttons-test-clear>

  </form>