<mat-card>
  <app-title-and-description ref-show></app-title-and-description>
  <div class="div-both"> </div>
  <div class="mat-hint ng-star-inserted">
    Désolé, mais le flux Mediprima V1 n'est plus opértionnel
  </div> 
</mat-card>


