

 
<div class="container">

  <app-cars-form
    (addCar)="onAdd($event)"
  ></app-cars-form>

  <div class="list">  
    <app-car 
      (deleteCar)="onDelete($event)"
      [inputcar] = "c"
      *ngFor="let c of cars">   </app-car> 
  </div>

</div>



<router-outlet></router-outlet> 