
 <input 
    type="text" 
    placeholder="Enter stock" 
    (change)="onInputEvent($event)"
    >

<app-favorite (notify)="onNotify($event)" [stock]="stockApp" quantity="100"></app-favorite>
    <p> {{showMessage}} </p> 
<hr>

<!-- 
  <app-price-quoter   (lastPrice)="priceQuoteHandler($event)"> </app-price-quoter>  
-->

<div 
    style="width:250px; height: 50px; border:1px solid green;"
    (last-price)="priceQuoteHandler($event)"
>
    <app-price-quoter> </app-price-quoter>
</div>

<br>
 
AppComponent received: {{stock}} and {{ price | currency: "EUR": true: "1.2-2"}}
   

<router-outlet></router-outlet>