<mat-card>
  <app-title-and-description ref-show></app-title-and-description>
  <div class="div-both"> </div>
  <div class="mat-hint ng-star-inserted">
    Désolé, mais le flux Dimona n'est plus opértionnel 
    depuis juillet 2015 et a été remplacé par le flux Dolsis
  </div> 
</mat-card>
